 body{
    background-image: url(https://images4.alphacoders.com/120/1201037.jpg);
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    top:0;
}

.nav{
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex: 0 0 auto; 
    
}

.home-btn{
  text-decoration: none; 
  font-size: 24px;       
  display: inline-block;
}

.home-btn img {
  width: 30px;
  height: 30px;
  padding: 0;
}


.nav h2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.about{
    background-color:rgb(172, 172, 172);
    text-align: center;
    margin-top: 200px;
    font-size:larger;
    opacity: 0.8;
}

/*Animations*/


.home-btn:hover{
    transform: scale(1.3);
    transition: 200ms;
}